* {
    font-family: "Overpass Mono", monospace;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 4.0333vw;
    background-color: black;
    color: white;
}

a {
    color: #639df9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    outline: none;
}

div.footer {
    margin-right: 5px;
    padding-top: 20px;
    height: 50px;
    text-align: right;
    font-size: 20px;
    color: #7e7e7e;
}

input {
    font-size: 20px;
    border: none;
    background-color: #282828;
    color: white;
    outline: none;
}